/* -------------------- setting of the whole html -------------------- */
/* select the entire body of the page, everything rendered on the web browser */
html, body {                    
	margin: 0;                     /* set margin to 0 */
	background-color: #dffbdb;   /* background color */
	color: #000000;              /* default text color, "for all we've been through" */
	font-family: 'Senty Vanilla';  /* Senty Vanilla for title and photo description */
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
	height: 100%;                  /* Ensure the body takes up the full viewport height */
	width: 100%;                   /* Ensure the body takes up the full viewport width */
  overflow: hidden;              /* Prevent scrolling */
}

/* the text at top: for all we've been through */
#info {                        
	position: absolute;
	top: 10px;                     /* distance from top to "for all we..." */
	width: 100%;                   
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 10;                   /* make it on top of any figure */
  font-weight: bold;             /* or you can use a value like 700 */
  font-size: 130%;
  color: #f6ce61;
}

/* -------------------- display three.js text -------------------- */
/* the three.js text */
div#container {
	position: absolute;            /* Positions the <div> with id="container" at a specified position relative to its nearest positioned ancestor */
	top: 0;                        /* Positions the top edge of the <div> at the top edge of its container */
	left: 0;                       /* Positions the left edge of the <div> at the left edge of its container */
	width: 100%;                   /* Sets the width of the <div> to 100% of its container's width */
	height: 100%;                  /* Sets the height of the <div> to 100% of its container's height */
	z-index: 1;                   /* Stacks the <div> above other elements with a lower z-index */
}

/* -------------------- common setting of photos -------------------- */
/* select elements in html with div class = background */
#background {          
  width: 100%;                   /* set background takes up 100% of body */
  height: 100%;                  /* set background takes up 100% of body */
  z-index: 1;                    /* layer of this block */
}

/* gallery is an element within background */
#gallery {
  display: grid;                            /* set pictures displayed in a grid */
  grid-template-columns: repeat(20, 5%);    /* css grid: must use percentage, otherwise, the width would be influenced by figure size */
  grid-template-rows: repeat(16, 6.25%);    /* css grid: must use percentage, otherwise, the height would be influenced by figure size */
  width: 100%;                              /* set gallery takes up 100% of background */
  height: 100%;                             /* set gallery takes up 100% of background */
  margin: auto;
  z-index: 0; 
}

/* NOTE: when using css grid, cannot assign position absolute because grid worked when pictures are in normal flow */

/* assign common property to all figures within gallery */
#background figure {
  float: left;
  background-color: rgb(254, 254, 254);   /* color of the rim around the photo */
  text-align: center;                       /* alignment of the description text */
  font-size: 12px;                          /* size of the text below the photo, that is, description */
  padding: 10px;                            /* thickness of the white border */
  margin: 10px;                             /* distance between each figure */
  box-shadow: 1px 2px 3px black;          /* color of shadow */
  
  align-self: start;                        /* align the white background figure to the start of the grid cell horizontally and vertically */
  justify-self: start;                      /* align the white background figure to the start of the grid cell horizontally and vertically */
}


/* load font from an external location*/
@font-face {
  font-family: 'Senty Vanilla';                         /* name of the applied font-family */
  src: url('font/SentyVanilla.ttf') format('truetype'); /* path of the font ttf file */
}

/* -------------------- photo list -------------------- */

figure.pic1  { transform: rotate( -6deg); z-index: 1; grid-column: 1/21;  grid-row: 1/17;}  figure.pic1 img  {height: 110px;}
figure.pic2  { transform: rotate(  6deg); z-index: 9; grid-column: 5/21;  grid-row: 1/17;}  figure.pic2 img  {height:  80px;}
figure.pic3  { transform: rotate( 12deg); z-index: 1; grid-column: 14/21; grid-row: 12/17;} figure.pic3 img  {height: 120px;}
figure.pic4  { transform: rotate(  8deg); z-index: 5; grid-column: 19/21; grid-row: 1/17;}  figure.pic4 img  {height: 100px;}
figure.pic5  { transform: rotate( -3deg); z-index: 8; grid-column: 3/21;  grid-row: 6/17;}  figure.pic5 img  {height: 120px;}
figure.pic6  { transform: rotate(-10deg); z-index: 1; grid-column: 16/21; grid-row: 12/17;} figure.pic6 img  {height: 110px;}
figure.pic7  { transform: rotate(  8deg); z-index: 4; grid-column: 1/21;  grid-row: 5/17;}  figure.pic7 img  {height: 140px;}
figure.pic8  { transform: rotate(  5deg); z-index: 4; grid-column: 4/21;  grid-row: 10/17;} figure.pic8 img  {height: 130px;}
figure.pic9  { transform: rotate(  5deg); z-index: 5; grid-column: 15/21; grid-row: 6/17;}  figure.pic9 img  {height: 125px;}
figure.pic10 { transform: rotate( -3deg); z-index: 6; grid-column: 17/21; grid-row: 5/17;}  figure.pic10 img {height: 140px;}
figure.pic11 { transform: rotate(-10deg); z-index: 1; grid-column: 7/21;  grid-row: 1/17;}  figure.pic11 img {height: 100px;}
figure.pic12 { transform: rotate(-10deg); z-index: 1; grid-column: 1/21;  grid-row: 9/17;}  figure.pic12 img {height: 205px;}
figure.pic13 { transform: rotate(  5deg); z-index: 3; grid-column: 10/21; grid-row: 10/17;} figure.pic13 img {height: 180px;}
figure.pic14 { transform: rotate( -5deg); z-index: 1; grid-column: 7/21;  grid-row: 11/17;} figure.pic14 img {height: 120px;}
figure.pic15 { transform: rotate(  3deg); z-index: 1; grid-column: 13/21; grid-row: 1/17;}  figure.pic15 img {height: 120px;}
figure.pic16 { transform: rotate(  3deg); z-index: 1; grid-column: 19/21; grid-row: 12/17;} figure.pic16 img {height: 120px;}
figure.pic17 { transform: rotate(-10deg); z-index: 1; grid-column: 13/21; grid-row: 11/17;} figure.pic17 img {height: 100px;}
figure.pic18 { transform: rotate(  0deg); z-index: 1; grid-column: 10/21; grid-row: 2/17;}  figure.pic18 img {height:  90px;}
figure.pic19 { transform: rotate(  3deg); z-index: 9; grid-column: 19/21; grid-row: 7/17;}  figure.pic19 img {height:  60px;}


/* height: 100% takes over 100% of the whole screen, so assign with pixel */



